.orders-container {
  padding: 20px;
  text-align: center;
}

.order-form {
  padding: 20px;
  background-color: #e6e6e6;
  border-radius: 5px;
  color: black;
}

.order-calendar {
  padding: 20px;
  background-color: #e6e6e6;
  border-radius: 5px;
  color: black;
}

.order-list {
  padding: 20px;
  background-color: #e6e6e6;
  border-radius: 5px;
  color: black;
}

@media (min-width: 768px) {
  .orders-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .orders-container {
    padding: 10px;
  }

  .order-form,
  .order-calendar,
  .order-list {
    padding: 10px;
  }
}

@media (max-width: 450px) {
  .order-form,
  .order-calendar,
  .order-list {
    padding: 5px;
  }
}
