
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('https://th.bing.com/th/id/OIP.leUdyDGFlNsKhLxaQ3qMxAAAAA?rs=1&pid=ImgDetMain');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
  color: black;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #1976d2;
}

.header-title {
  flex-grow: 1;
  text-align: left;
  margin-right: 40px;
  text-decoration: none;
  color: white;
}

.desktop-buttons {
  display: flex;
  gap: 20px;
}

.desktop-buttons button {
  color: white;
}

/* Hamburger Icon */
.menu-icon {
  color: white;
}

/* Mobile Menu */
.mobile-menu {
  width: 240px;
}

.mobile-menu .MuiDrawer-paper {
  width: 240px;
}

.mobile-menu .MuiList-root {
  padding: 0;
}

.mobile-menu .MuiListItem-root {
  padding: 10px 20px;
}

.mobile-menu .MuiListItem-root:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Media queries for responsiveness */
@media (max-width: 960px) {
  .header-title {
    margin-right: 20px;
  }

  .desktop-buttons {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

@media (max-width: 600px) {
  .header-title {
    margin-right: 10px;
  }

  .mobile-menu {
    width: 100%;
  }

  .mobile-menu .MuiDrawer-paper {
    width: 100%;
  }
}

