body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('https://th.bing.com/th/id/OIP.leUdyDGFlNsKhLxaQ3qMxAAAAA?rs=1&pid=ImgDetMain');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #db5ce7;
}

.header-title {
  flex-grow: 1;
  text-align: left;
  margin-right: 40px;
}

.header-buttons {
  display: flex;
}

.header-buttons button {
  margin-right: 10px;
  color: white;
}

.header-buttons button:hover {
  background-color: #a048e4;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #62d2eb;
}

.main-content {
  flex: 1;
  padding: 50px;
}

.footer {
  padding: 20px;
  background-color: #c22ecf;
  color: white;
  text-align: center;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
  .card {
    flex: 0 1 calc(50% - 20px); /* Two cards in a row */
  }
}

@media screen and (max-width: 768px) {
  .header-buttons {
    flex-direction: column;
  }

  .header-buttons button {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .card {
    flex: 1 1 calc(100% - 20px); /* Full width for cards */
  }
}

@media screen and (max-width: 576px) {
  .header-title {
    margin-right: 0;
    text-align: center;
  }

  .main-content {
    padding: 20px;
  }

  .card {
    padding: 15px;
  }

  .footer {
    padding: 10px;
  }
}
